<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hqub.MusicBrainze.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Hqub.MusicBrainze.API.Properties.Settings>
            <setting name="WebServiceUrl" serializeAs="String">
                <value>http://musicbrainz.org/ws/2/</value>
            </setting>
            <setting name="LookupTemplate" serializeAs="String">
                <value>{0}/{1}/?inc={2}</value>
            </setting>
            <setting name="BrowseTemplate" serializeAs="String">
                <value>{0}?{1}={2}&amp;limit={3}&amp;offset={4}&amp;inc={5}</value>
            </setting>
            <setting name="SearchTemplate" serializeAs="String">
                <value>{0}?query={1}&amp;limit={2}&amp;offset={3}</value>
            </setting>
        </Hqub.MusicBrainze.API.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
